.tabs-wrapper{
    padding: 8px;
}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.tab-item{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background: #004e81b4;
}

.tab-item.active{
    border-color: #000000;
    background: #002d4bb4;
    color: #ffffff;
}

.content{
    padding: 20px 10px;
    height: 300px;
    overflow: auto;
    background-color: #ffffff;
}